@tailwind base;
@tailwind components;
@tailwind utilities;

/* Conserver les polices personnalisées si nécessaire */
:root {
  --font-geist-sans: "Geist", sans-serif;
  --font-geist-mono: "Geist Mono", sans-serif;
}

body {
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}